/* font-family: 'Nunito', sans-serif; */
:root {
    /* Color */
    --black-color: #000a12;
    --white-color: #ffffff;
    --blue-color: #5c6bc0;
    --darkpurple-color: #836fa9;
    --purple-color: #b39ddb;
    --lightpurple-color:#e6ceff;

    /* Font Size*/
    --font-large: 40px;
    --font-medium: 30px;
    --font-small: 17px;
    --font-micro: 13px;
 

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Border */
    --border-radius: 5px;

     /* Padding */
     --padding-box: 5px;
     --padding-side: 30px;

     /* Width */
     --width-max: 700px;
}
* {
    box-sizing: border-box;
}
h1 { 
    font-size: var(--font-large);
    font-weight: var(--weight-semi-bold);
    color: var(--black-color);
    margin: 16px 0;
}
h2 { 
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--black-color);
    margin: 8px 0;
}
h3 { 
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--black-color);
    margin: 8px 0;
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black-color);
    font-size: var(--font-small);
}
ul {
    padding:0;
    list-style: none;
}
button {
    background-color: transparent;
    border: 0;
    outline-style: none;
}
p {
    margin:0;
}
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple-color);
    color: var(--white-color);
}
.navbar__logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
}
.navbar__logo > img {
    width: 50px;
    height: 50px;
    cursor: pointer; 
}
.navbar__logo > a {
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-small);
}
.navbar__menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding-right: var(--side-padding);
    font-size: var(--font-small);
    cursor: pointer;
}
.navbar__menu__item {
    padding: var(--padding-box);
    border-radius: var(--border-radius);
}
.navbar__menu__item.active{
    border: 1px solid var(--white-color);
    border-radius: var(--border-radius);
}
.navbar__menu__item:hover {
    background-color: var(--darkpurple-color);
}

#home {
    background: url('imgs/background.png') center/cover no-repeat;
    padding: var(--padding-side);
    text-align: center;
}

.home__avatar{
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
}
.home__title,.home__description{
    color: var(--white-color);
}
.home__contact{
    padding: var(--padding-box);
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: var(--border-radius);
}

.section{
    text-align: center;
    max-width: var(--width-max);
    margin: auto;
}

#about{

}
.about__majors{
    display: flex;
    color: rgb(78, 77, 77) ; 

}
.major{
    margin: 30px;
}
.major__logo{
    border: 2px solid var(--lightpurple-color);
    height: 170px;
    width: 170px;
    line-height: 170px;
    font-size: 60px;
    color: var(--lightpurple-color);
    margin: 20px 0;
    border-radius: 50%;
}
.major__logo:hover  i{
    transform: scale(1.2);
    color: var(--purple-color);
    transition: 300ms ease;
}
.major__title{
    font-weight: var(--weight-semi-bold);
}
.major__description{
    font-size: var(--font-micro);
}
.job{
    display: flex;
    align-items: center;
}
.job__logo{
    width: 30px;
    font-size: 20px;
}
.job__description{
    margin-left: 10px;
    color: lightgray;
}
.description__period{
    font-size: var(--font-micro);
    text-align: start;
}
